/* Cards */
.grid--benefit {

}


.grid--benefit > :nth-child(1) {
    grid-column: 1 / 4; 
    grid-row: 1;
  }
  
  .grid--benefit > :nth-child(2) {
    grid-column: 4 / 7; 
    grid-row: 1;
  }
  
  .grid--benefit > :nth-child(3) {
    grid-column: 7 / 13; 
    grid-row: 1;
  }
  
  .grid--benefit > :nth-child(4) {
    grid-column: 1 / 7;  
    grid-row: 2;
  }
  
  .grid--benefit > :nth-child(5) {
    grid-column: 7 / 10; 
    grid-row: 2;
  }
  
  .grid--benefit > :nth-child(6) {
    grid-column: 10 / 13; 
    grid-row: 2;
  }

@media (max-width: 576px) {
    .grid--benefit {
    }
    
    .grid--benefit  > :nth-child(1) {
      grid-column: 1 / 7; 
      grid-row: 1;
    }
    
    .grid--benefit  > :nth-child(2) {
      grid-column: 7 / 13; 
      grid-row: 1;
    }
    
    .grid--benefit > :nth-child(3) {
      grid-column: 1 / 7; 
      grid-row: 2;
    }
    
    .grid--benefit  > :nth-child(4) {
      grid-column: 7 / 13;  
      grid-row: 2;
    }
    
    .grid--benefit  > :nth-child(5) {
      grid-column: 1 / 7;
      grid-row: 3;
    }

    .grid--benefit > :nth-child(6) {
        grid-column: 7 / 13;  
        grid-row: 3;
    }
}


@media (min-width: 577px) and (max-width: 768px) {


    .grid--benefit {
    }
    
    .grid--benefit  > :nth-child(1) {
      grid-column: 1 / 7; 
      grid-row: 1;
    }
    
    .grid--benefit  > :nth-child(2) {
      grid-column: 7 / 13; 
      grid-row: 1;
    }
    
    .grid--benefit > :nth-child(3) {
      grid-column: 1 / 7; 
      grid-row: 2;
    }
    
    .grid--benefit  > :nth-child(4) {
      grid-column: 7 / 13;  
      grid-row: 2;
    }
    
    .grid--benefit  > :nth-child(5) {
      grid-column: 1 / 7;
      grid-row: 3;
    }

    .grid--benefit  > :nth-child(6) {
        grid-column: 7 / 13;
        grid-row: 3;
      }
}


@media (min-width: 769px) and (max-width: 992px) {


    .grid--benefit {
    }
    
    .grid--benefit  > :nth-child(1) {
      grid-column: 1 / 7; 
      grid-row: 1;
    }
    
    .grid--benefit  > :nth-child(2) {
      grid-column: 7 / 13; 
      grid-row: 1;
    }
    
    .grid--benefit > :nth-child(3) {
      grid-column: 1 / 7; 
      grid-row: 2;
    }
    
    .grid--benefit  > :nth-child(4) {
      grid-column: 7 / 13;  
      grid-row: 2;
    }
    
    .grid--benefit  > :nth-child(5) {
      grid-column: 1 / 7;
      grid-row: 3;
    }

    .grid--benefit  > :nth-child(6) {
        grid-column: 7 / 13;
        grid-row: 3;
      }
}


@media (min-width: 993px) and (max-width: 1366px) {


    .grid--benefit  > :nth-child(1) {
        grid-column: 1 / 7; 
        grid-row: 1;
      }
      
      .grid--benefit  > :nth-child(2) {
        grid-column: 7 / 13; 
        grid-row: 1;
      }
      
      .grid--benefit > :nth-child(3) {
        grid-column: 1 / 7; 
        grid-row: 2;
      }
      
      .grid--benefit  > :nth-child(4) {
        grid-column: 7 / 13;  
        grid-row: 2;
      }
      
      .grid--benefit  > :nth-child(5) {
        grid-column: 1 / 7;
        grid-row: 3;
      }
  
      .grid--benefit  > :nth-child(6) {
          grid-column: 7 / 13;
          grid-row: 3;
        }
}


@media (min-width: 1400px) {}

