

.grid--product2 > :nth-child(1) {
  grid-column: 1 / 7; 
  grid-row: 1;
}

.grid--product2 > :nth-child(2) {
  grid-column: 7 / 10; 
  grid-row: 1 / span 2;
}

.grid--product2 > :nth-child(3) {
  grid-column: 10 / 13; 
  grid-row: 1;
}

.grid--product2 > :nth-child(4) {
  grid-column: 1 / 7;  
  grid-row: 2;
}

.grid--product2 > :nth-child(5) {
  grid-column: 10 / 13; 
  grid-row: 2;
}




@media (max-width: 576px) {
    .grid--product2 {
    }
    
    .grid--product2  > :nth-child(1) {
      grid-column: 1 / 7; 
      grid-row: 1;
    }
    
    .grid--product2  > :nth-child(2) {
      grid-column: 7 / 13; 
      grid-row: 1;
    }
    
    .grid--product2 > :nth-child(3) {
      grid-column: 1 / 7; 
      grid-row: 2;
    }
    
    .grid--product2  > :nth-child(4) {
      grid-column: 7 / 13;  
      grid-row: 2;
    }
    
    .grid--product2  > :nth-child(5) {
      grid-column: 1 / 7;
      grid-row: 3;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .grid--product2 {
    }
    
    .grid--product2  > :nth-child(1) {
      grid-column: 1 / 7; 
      grid-row: 1;
    }
    
    .grid--product2  > :nth-child(2) {
      grid-column: 7 / 13; 
      grid-row: 1;
    }
    
    .grid--product2 > :nth-child(3) {
      grid-column: 1 / 7; 
      grid-row: 2;
    }
    
    .grid--product2  > :nth-child(4) {
      grid-column: 7 / 13;  
      grid-row: 2;
    }
    
    .grid--product2  > :nth-child(5) {
      grid-column: 1 / 7;
      grid-row: 3;
    }

    .grid--product2  > :nth-child(6) {
        grid-column: 7 / 13;
        grid-row: 3;
      }
}
@media (min-width: 769px) and (max-width: 992px) {
    .grid--product2 {
    }
    
    .grid--product2  > :nth-child(1) {
      grid-column: 1 / 7; 
      grid-row: 1;
    }
    
    .grid--product2  > :nth-child(2) {
      grid-column: 7 / 13; 
      grid-row: 1;
    }
    
    .grid--product2 > :nth-child(3) {
      grid-column: 1 / 7; 
      grid-row: 2;
    }
    
    .grid--product2  > :nth-child(4) {
      grid-column: 7 / 13;  
      grid-row: 2;
    }
    
    .grid--product2  > :nth-child(5) {
      grid-column: 1 / 7;
      grid-row: 3;
    }

    .grid--product2  > :nth-child(6) {
        grid-column: 7 / 13;
        grid-row: 3;
      }
}
@media (min-width: 993px) and (max-width: 1366px) {
    .grid--product2  > :nth-child(1) {
        grid-column: 1 / 7; 
        grid-row: 1;
      }
      
      .grid--product2  > :nth-child(2) {
        grid-column: 7 / 13; 
        grid-row: 1;
      }
      
      .grid--product2 > :nth-child(3) {
        grid-column: 1 / 7; 
        grid-row: 2;
      }
      
      .grid--product2  > :nth-child(4) {
        grid-column: 7 / 13;  
        grid-row: 2;
      }
      
      .grid--product2  > :nth-child(5) {
        grid-column: 1 / 7;
        grid-row: 3;
      }
  
      .grid--product2  > :nth-child(6) {
          grid-column: 7 / 13;
          grid-row: 3;
        }
}
@media (min-width: 1400px) {}

