.container--product {
    display: flex !important;
}

@media (max-width: 576px) {
    .container--hero {
        display: flex !important;
        flex-direction: row;
        height: 280px !important;
    }

    .container--hero .aside {
        width: 50%;
    }

    .container--hero .bside {
        width: 50%;
    }

    .container .image__mobile {
        display: block;
    }

    .container .image__web {
        display: none;
    }

    .container--hero {
        display: flex;
        flex-direction: row;
    }

    .container--product {
        display: flex !important;
        flex-direction: column;
        height: auto;
    }

    .container--product .aside {
        width: 100%;
    }

    .container--product .bside {
        width: 100%;
    }

    .container--product .image__mobile {
        width: 100%;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .container--hero {
        display: flex !important;
        flex-direction: row;
    }
    .container--hero .aside {
        width: 50%;
    }
    .container--hero .bside {
        width: 50%;
    }
    .container .image__mobile {
        display: block;
    }
    .container .image__web {
        display: none;
    }
    .container--hero {
        display: flex;
        flex-direction: row;
    }
    .container--product {
        display: flex !important;
        flex-direction: column;
        height: auto;
    }

    .container--product .aside {
        width: 100%;
    }

    .container--product .bside {
        width: 100%;
    }

    .container--product .image__mobile {
        width: 100%;
    }
}
@media (min-width: 769px) and (max-width: 992px) {
    .container--hero {
        display: flex !important;
        flex-direction: row;
    }
    .container--hero .aside {
        width: 50%;
    }
    .container--hero .bside {
        width: 50%;
    }
    .container .image__mobile {
        display: block;
    }
    .container .image__web {
        display: none;
    }
    .container--hero {
        display: flex;
        flex-direction: row;
    }
    .container--product {
        display: flex !important;
        flex-direction: column;
        height: auto;
    }

    .container--product .aside {
        width: 100%;
    }

    .container--product .bside {
        width: 100%;
    }

    .container--product .image__mobile {
        width: 100%;
    }
}
@media (min-width: 993px) and (max-width: 1440px) {
    .container--hero {
        display: flex !important;
        flex-direction: row;
    }
    .container--hero .aside {
        width: 50%;
    }
    .container--hero .bside {
        width: 50%;
    }
    .container .image__mobile {
        display: none;
    }
    .container .image__web {
        display: block;
    }
    .container--hero {
        display: flex;
        flex-direction: row;
    }


    .container--product {
        display: flex !important;
        flex-direction: row;
        height: auto;
    }

    .container--product .aside {
        width: 50%;
    }

    .container--product .bside {
        width: 50%;
    }

    .container--product .image__mobile {
        width: 100%;
    }
}
@media (min-width: 1400px) {
    .container--hero {
        display: flex !important;
        flex-direction: row;
    }
    .container--hero .aside {
        width: 50%;
    }
    .container--hero .bside {
        width: 50%;
    }
    .container .image__mobile {
        display: none;
    }
    .container .image__web {
        display: block;
    }
    .container--hero {
        display: flex;
        flex-direction: row;
    }



    .container--product .aside {
        width: 50%;
    }

    .container--product .bside {
        width: 50%;
    }

    .container--product .image__mobile {
        width: 100%;
    }
}