/* Иконки */
.verif,
.profile,
.facebook,
.telegram,
.instagram,
.youtube,
.chat,
.close,
.cancel,
.open,
.phone,
.language,
.dots,
.plus,
.minus,
.delete,
.check,
.bag,
.verification,
.settings__icon,
.referral__icon,
.cart__icon,
.dzen,
.vk,
.menu-icon {
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: block;
}

.verif {
  background-image: url('https://bio30.ru/front/static/img/icons/verif.svg');
}

.profile {
  background-image: url('https://bio30.ru/front/static/img/icons/profile.svg');

}

.dzen {
  background-image: url('https://bio30.ru/front/static/img/icons/dzen.svg');
}

.vk {
  background-image: url('https://bio30.ru/front/static/img/icons/vk.svg');

}

.settings__icon {
  background-image: url('https://bio30.ru/front/static/img/icons/settings.svg');
}

.referral__icon {
  background-image: url('https://bio30.ru/front/static/img/icons/referral.svg');

}

.cart__icon {
  background-image: url('https://bio30.ru/front/static/img/icons/cart.svg');

}

.open {
  background-image: url('https://bio30.ru/front/static/img/icons/open.svg');

}

.open.cancel {
  background-image: url('https://bio30.ru/front/static/img/icons/cancel.svg');
}

.cancel {
  background-image: url('https://bio30.ru/front/static/img/icons/cancel.svg');

}

.check {
  background-image: url('https://bio30.ru/front/static/img/icons/check.svg');

}

.menu-icon {
  background-image: url('https://bio30.ru/front/static/img/icons/menu.svg');
}
.bag {
  background-image: url('https://bio30.ru/front/static/img/icons/bag.svg');
}

.chat {
  background-image: url('https://bio30.ru/front/static/img/icons/help.svg');
}

.dots {
  background-image: url('https://bio30.ru/front/static/img/icons/dots_white.svg');
}

.close {
  background-image: url('https://bio30.ru/front/static/img/icons/delete.svg');
}

.cancel {
  background-image: url('https://bio30.ru/front/static/img/icons/profile.svg');
}

.phone {
  background-image: url('https://bio30.ru/front/static/img/icons/phone.svg');
}

.language {
  background-image: url('https://bio30.ru/front/static/img/icons/language.svg');
}

.facebook {
  background-image: url('https://bio30.ru/front/static/img/icons/facebook.svg');
}

.telegram {
  background-image: url('https://bio30.ru/front/static/img/icons/telegram.svg');
}

.instagram {
  background-image: url('https://bio30.ru/front/static/img/icons/instagram.svg');
}

.delete {
  background-image: url('https://bio30.ru/front/static/img/icons/delete.svg');
}

.youtube {
  background-image: url('https://bio30.ru/front/static/img/icons/youtube.svg');
}

.verification {
  background-image: url('https://bio30.ru/front/static/img/icons/verif.svg');
}

.plus {
  background-image: url('https://bio30.ru/front/static/img/icons/plus.svg');
}

.minus {
  background-image: url('https://bio30.ru/front/static/img/icons/minus.svg');
}